<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>File Details</h1>
    <p>Filename: <%= file.filename %></p>
    <p>Url: <a href="<%= file.url %>" target="_blank"><%= file.url %></a></p>
    <p>File type: <%= file.mimetype %></p>
    <p>Size: <%= file.size %> bytes</p>
    <a href="<%= file.url %>" download="<%= file.filename %>">
      <button>Download File</button>
    </a>
    <form id="updateFile" action="/update-file/" method="POST">
      <input type="hidden" name="fileId" value="<%= file.id %>" />
      <input id="filename" name="filename" placeholder="filename" type="text" />
      <button type="submit">Rename File</button>
    </form>
    <form id="deleteFile" action="/delete-file/" method="POST">
      <input type="hidden" name="fileId" value="<%= file.id %>" />
      <button type="submit">Delete File</button>
    </form>
    <a href="/folder/<%= file.folderId %>">Back to Folder</a>
  </body>
</html>
